.container{
    text-align: center;
    margin-top: 20px;   
}
table{
    margin: auto;
}
input{
    font-size: 20px;
    border-width: 10px;
    border-radius: 20px;
    text-align: right;
    padding-right: 1cm;    
}
button{
    color: aqua;
    background-color: rgb(107 96 96);
    height: 39px;
    width: 61px;
    box-shadow: 20px;
    font-size: 21px;
    border-radius: 5px;
}
button:hover{
    background-color: black;
}
.calculator{
    display: inline-block;
    border-radius: 2px;    
}
#backspace{
    margin-top: 0.2cm;
    width:255px ;
}
